@model IEnumerable<SistemaFacturacionMVC.Models.Factura>
@{
    ViewData["Title"] = "Listado de Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Listado de Facturas</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Facturas">Crear nueva Factura</a>
        </div>
    </div>
    <hr />
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.numero_factura)</td>
                        <td>@Html.DisplayNameFor(m => m.Cliente)</td>
                        <td>@Html.DisplayNameFor(m => m.fecha)</td>
                        <td>@Html.DisplayNameFor(m => m.total_factura)</td>
                        <td>@Html.DisplayNameFor(m => m.anulada)</td>

                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.numero_factura</td>
                            <td>@item.Cliente.nit</td>
                            <td>@item.fecha</td>
                            <td>@item.total_factura</td>
                            <td>@item.anulada</td>
                            <td>
                                <a asp-controller="Facturas" asp-action="Edit" asp-route-id="@item.numero_factura" class="btn btn-warning">Editar</a>
                                <a asp-controller="Facturas" asp-action="Delete" asp-route-id="@item.numero_factura" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Actualmente no existe ninguna Factura</p>
        }
    </div>
</div>
