@model IEnumerable<SistemaFacturacionMVC.Models.Producto>
@{
    ViewData["Title"] = "Listado de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Listado de Productos</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Productos">Crear nueva Producto</a>
        </div>
    </div>
    <hr />
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.codigo_producto)</td>
                        <td>@Html.DisplayNameFor(m => m.tipo_producto)</td>
                        <td>@Html.DisplayNameFor(m => m.nombre)</td>
                        <td>@Html.DisplayNameFor(m => m.descripcion)</td>
                        <td>@Html.DisplayNameFor(m => m.precio)</td>
                        <td>@Html.DisplayNameFor(m => m.costo)</td>
                        <td>@Html.DisplayNameFor(m => m.existencia)</td>
                        <td>@Html.DisplayNameFor(m => m.activo)</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.codigo_producto</td>
                            <td>@item.tipo_producto</td>
                            <td>@item.nombre</td>
                            <td>@item.descripcion</td>
                            <td>@item.precio</td>
                            <td>@item.costo</td>
                            <td>@item.existencia</td>
                            <td>@item.activo</td>
                            <td>
                                <a asp-controller="Productos" asp-action="Edit" asp-route-id="@item.codigo_producto" class="btn btn-warning">Editar</a>
                                <a asp-controller="Productos" asp-action="Delete" asp-route-id="@item.codigo_producto" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Actualmente no existe ningún Producto</p>
        }
    </div>
</div>
