@model IEnumerable<SistemaFacturacionMVC.Models.Factura_Producto>
@{
    ViewData["Title"] = "Detalle de la factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Detalle de Factura</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Facturas_Productos" asp-route-id="@TempData["NoFactura"]">Ingresar Compra</a>
        </div>
    </div>
    <hr />
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.numero_factura)</td>
                        <td>@Html.DisplayNameFor(m => m.Producto)</td>
                        <td>@Html.DisplayNameFor(m => m.cantidad)</td>
                        <td>@Html.DisplayNameFor(m => m.precio_unitario)</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.numero_factura</td>
                            <td>@item.Producto.nombre</td>
                            <td>@item.cantidad</td>
                            <td>@item.precio_unitario</td>
                            <td>
                                <a asp-controller="Facturas_Productos" asp-action="Edit" asp-route-id="@item.codigo_producto" class="btn btn-warning">Editar</a>
                                <a asp-controller="Facturas_Productos" asp-action="Delete" asp-route-id="@item.codigo_producto" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Actualmente no existe ningún detalle en la factura</p>
        }
    </div>
</div>

